html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-family: 'Times New Roman', Times, serif;
}
body {
	
	background: lightblue;
	background-image: url("teste.png");
}

#divMain{
	margin: auto;
    width: 50%;
    padding: 10px;
	display:table;
}
#titleDiv{
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	vertical-align:middle;
}

#txtLogin{
	margin: auto;
    width: 30%;
    padding: 10px;
	display:table-cell;
	position:absolute;
	}
#txtPassword{
	margin: auto;
    width: 30%;
    padding: 10px;
	display:table-cell;
	position:absolute;
	margin-top:5%;
	}
#loginDiv{
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	vertical-align:middle;
   }

#cadastro{
  width: 420px;
  height: 360px;   
  margin: auto;
  background: #f7f7f7;
  text-align: center;
  justify-content: center;
}


#login{
	width: 420px;
	height: 40px;   
	margin: auto;
	background: #f7f7f7;
	text-align: center;
	justify-content: center;
  }

#fundo{
	background-image: url("teste.png");
	height: 880px;
	background-size: cover;
	background-position: center;
}

#perfil{
		

	margin-right: 0%;
		width: 420px;
		height: 560px;   
		background: #f7f7f7;
		text-align: center;
		justify-content: center;
		border: 2px solid  darkblue;
	    
	    display: flex;
}

#perfilpt2{
	width: 420px;
	height: 600px;   
	background: #f7f7f7;
	text-align: center;
	justify-content: center;
  }

  .perfil-flex{
	margin-right: 20%;
	display:flex;
  
}

.perfilpt2-flex{
	
    margin-left: 20%;
	border: 2px solid   darkblue;
	
	display: flex;
  
}

.X{
	background-color: red;
	border-radius: 50%;
	
	
}

.Visualizar{
	background-color: rgb(67, 230, 67);
	
}

.mais{
	background-color: rgb(67, 230, 67);
	font-size: 15px;
	border-radius: 50%;

}

.VMP{
	
	background-color: rgb(76, 219, 171);

}

img.displayed{

	display: block;
    margin-left: auto;
    margin-right: auto
}

img.foto{

		border-radius: 50%;

}

.nome_perfil{

	font-size: 30px;
}

.email_login{

	font-size: 20px;
}

#deletar{

	margin: auto;
	width: auto;
	height: auto;   
	background: #f7f7f7;
	text-align: center ;
	justify-content: center;


}

.deletar-flex{

	margin-left: 20%;
	margin-right: 20%;
	border: 2px solid  darkred;

	display: flex;

}

#comentarios{
	width: 820px;
	height: 1020px;   
	margin: auto;
	background: #ffffff;
	text-align: center;
	justify-content: center;
  }
  #Perfis{
	width: 100px;
	height: 50px;   
	margin:left;
	background: #d4f1d6;
	text-align: left;
	justify-content: center;
  }

  
*{ margin: 0;
	 padding: 0;
	  box-sizing: border-box; 
	}

.menu {
	 background: white; 
	 padding: 20px 0; 
}

.button {
	display: inline;
	margin: 0 20px;
	background: white;
	top: 0;
	color: green;
	border: 0;
	cursor: pointer;
	font-size: 20px;
}

.modalLogin {
	display:none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.modalCadastro {
	display:none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-Login {
	margin: 10% auto;	;
	width: 420px;
	height: 360px;
	box-shadow: 0 5px 8px 0 rgba(0, 0 ,0, 0.2), 0 7px 20px 0 rgba(0, 0 ,0, 0.17);
}
.modal-content-Cadastro {
	margin: 10% auto;	;
	width: 420px;
	height: 360px;
	box-shadow: 0 5px 8px 0 rgba(0, 0 ,0, 0.2), 0 7px 20px 0 rgba(0, 0 ,0, 0.17);
}

.modal-header h2 {
	margin: 1% 10%;
}

.modal-header {
	background : blue;
	padding: 15px;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal-body {
	padding: 10px 20px;
	background: #fff;
}

.close {
	color: #ccc;
	float: right;
	font-size: 30px;
	cursor: pointer;
}
.close2 {
	color: #ccc;
	float: right;
	font-size: 30px;
	cursor: pointer;
}
