html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-family: 'Times New Roman', Times, serif;
}
body {
	
	background: lightblue;
	background-image: url("teste.png");
}

#divMain{
	margin: auto;
    width: 50%;
    padding: 10px;
	display:table;
}
#titleDiv{
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	vertical-align:middle;
}

#txtLogin{
	margin: auto;
    width: 30%;
    padding: 10px;
	display:table-cell;
	position:absolute;
	}
#txtPassword{
	margin: auto;
    width: 30%;
    padding: 10px;
	display:table-cell;
	position:absolute;
	margin-top:5%;
	}
#loginDiv{
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	vertical-align:middle;
   }

#cadastro{
  width: 500px;
  height: 500px;   
  margin: auto;
  background: #f7f7f7;
  text-align: center;
  justify-content: center;
  border: 2px solid  darkblue;

}


#login{
	width: 400px;
	height: 400px;   
	margin: auto;
	background: #f7f7f7;
	text-align: center;
	justify-content: center;
	border: 2px solid  darkblue;

  }

#fundo{
	background-image: url("teste.png");
	height: 880px;
	background-size: cover;
	background-position: center;
}

#perfil{
		

	margin-right: 0%;
		width: 420px;
		height: 560px;   
		background: #f7f7f7;
		text-align: center;
		justify-content: center;
		border: 2px solid  darkblue;
	    
	    display: flex;
}

#perfilpt2{
	width: 420px;
	height: 600px;   
	background: #f7f7f7;
	text-align: center;
	justify-content: center;
  }

  .perfil-flex{
	margin-right: 20%;
	display:flex;
  
}

.perfilpt2-flex{
	
    margin-left: 20%;
	border: 2px solid  darkblue;
	
	display: flex;
  
}

.X{
	background-color: red;
	border-radius: 50%;
	
	
}

.Visualizar{
	background-color: rgb(67, 230, 67);
	
}

.mais{
	background-color: rgb(67, 230, 67);
	font-size: 15px;
	border-radius: 50%;

}

.VMP{
	
	background-color: rgb(76, 219, 171);

}

img.displayed{

	display: block;
    margin-left: auto;
    margin-right: auto
}

img.foto{

		border-radius: 50%;

}

.nome_perfil{

	font-size: 30px;
}

.email_login{

	font-size: 20px;
}

#deletar{

	margin: auto;
	width: auto;
	height: auto;   
	background: #f7f7f7;
	text-align: center ;
	justify-content: center;

	
}

.deletar-flex{
	
	margin-left: 20%;
	margin-right: 20%;
	border: 2px solid  darkred;
	
	display: flex;
  
}

.cancelar{

	background-color: red;
}

#descricao{

  width: 420px;
  height: 520px;   
  margin: auto;
  background: #f7f7f7;
  text-align: center;
  justify-content: center;
  border: 2px solid  darkblue;

}

#title{
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline black;
	text-align: center ;
	justify-content: center;

}

#descvs{
	margin: auto;
	text-align: center ;
	justify-content: center;
	font-weight: bolder;
}

#desced{
	margin: auto;
	text-align: center ;
	justify-content: center;
}

#descad{

	margin: auto;
	text-align: center ;
	justify-content: center;
}

#gerenciamento{
	width: 420px;
	height: 600px;   
	background: #f7f7f7;
	text-align: center;
	justify-content: center;
	border: 2px solid  darkblue;

}

.gerenciamento-flex{

	margin-left: 20%;
	
	display: flex;
}

#acesso{
	margin: auto;
	width: auto;
	height: auto;   
	background: #f7f7f7;
	text-align: center ;
	justify-content: center;
	border: 2px solid  rgb(49, 48, 48);
	

}

.acesso-flex{

	margin-bottom: 80%;
	margin-left: 70%;
	margin-right: 70%;

	display: flex;
}